<h1>Ask page</h1>
<form action="/answer" data-turbo="false" method="GET">
  <input type="text" name="questionasked" placeholder="Who are you looking for?">
  <input type="submit" value="Ask!">
</form>
